# mac文件
.DS_Store
# node_modules文件
./node_modules
# 本地配置文件
.env
node_modules/@babel/plugin-syntax-class-static-block/package.json
/node_modules
/public
# /content/posts/copyMD/*
content/posts/hugo加LoveIt博客.md
